@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --white-paper: #f9f9f9;
  --black-paper: #151618;
  --max-width: 75rem;
  --min-width: 17.5rem;
  --transition: 0.4s;
  --appbar-height: 3.4375rem;
  --modal-count: 0;
  --header-z-index: 90;
  --portal-z-index: 100;
  --overportal-z-index: 120;

  --primary: #67b8ff;
  --primary-dark: #2f99ff;
  --primary-light: #bddfff;
  --text: #f9f9f9;
  --text-secondary: #9c9c9c;
  --text-tertiary: #6d6c6c;
  --paper: #151618;
  --paper-secondary: #242323;
  --paper-tertiary: #3b3b3b;
  --success: #7fe282;
  --info: #75cbf3;
  --warning: #ffc36a;
  --error: #ff8b89;
  --shadow: rgba(0 0 0 / 20%);
  --modal-bg: rgba(0 0 0 / 56%);
  --success-light: #caf2ca;
  --success-dark: #36c040;
  --info-light: #ade0f8;
  --info-dark: #00a8ea;
  --warning-light: #ffdba6;
  --warning-dark: #fb9900;
  --error-light: #ffc5ca;
  --error-dark: #f45c5d;
  --primary-channel: 103, 184, 255;
  --primary-dark-channel: 47, 153, 255;
  --primary-light-channel: 189, 223, 255;
  --text-channel: 249, 249, 249;
  --paper-channel: 21, 22, 24;
  --success-channel: 127, 226, 130;
  --info-channel: 117, 203, 243;
  --warning-channel: 255, 195, 106;
  --error-channel: 255, 139, 137;
  --color-scheme: dark;
}

.light-theme {
  --primary: #2f66d3;
  --primary-dark: #2c46b3;
  --primary-light: #67b8ff;
  --text: #151618;
  --text-secondary: #605959;
  --text-tertiary: #8f8c8c;
  --paper: #f7f7f7;
  --paper-secondary: #ebebeb;
  --paper-tertiary: #d9d9d9;
  --success: #4caf50;
  --info: #03a9f4;
  --warning: #ff9800;
  --error: #ef5350;
  --shadow: rgba(0 0 0 / 18%);
  --modal-bg: rgba(0 0 0 / 40%);
  --success-light: #a5d6a7;
  --success-dark: #388e3b;
  --info-light: #81d3fa;
  --info-dark: #0487d1;
  --warning-light: #ffcd80;
  --warning-dark: #f57d00;
  --error-light: #ef9a9a;
  --error-dark: #e53835;
  --primary-channel: 47, 102, 211;
  --primary-dark-channel: 44, 70, 179;
  --primary-light-channel: 103, 184, 255;
  --text-channel: 21, 22, 24;
  --paper-channel: 247, 247, 247;
  --success-channel: 76, 175, 80;
  --info-channel: 3, 169, 244;
  --warning-channel: 255, 152, 0;
  --error-channel: 239, 83, 80;
  --color-scheme: light;
}

html {
  @apply bg-paper scrollish;
  color-scheme: var(--color-scheme);
}

::selection {
  background: rgba(var(--primary-channel), 0.85);
  color: var(--paper);
}

body {
  @apply relative bg-paper text-text flex flex-col items-center;
}

li {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

option {
  background-color: var(--paper);
}

input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
}

#portal {
  @apply flex items-center justify-center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollish {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--paper);
}

.scrollish::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollish::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0.3125rem;
}

.scrollish::-webkit-scrollbar-corner {
  background-color: var(--primary);
}
